body {
  background-color: antiquewhite;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100vh;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: red;
}
