body {
  background-color: antiquewhite;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: repeat(auto-fit, 3, 1fr);
  height: 100vh;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.box:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  background-color: white;
  font-size: 28px;
  font-weight: bold;
}
.box_first {
  font-size: 18px;
  margin: 20px;
}
.box_second {
  margin: 20px;
  font-size: 14px;
}
.img {
  background-image: url("https://source.unsplash.com/random/300×300");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
