@import "./reset.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.poster {
  width: 60%;
  height: 100%;
  background-color: #dde2d2;
  padding: 10px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: 60px 1.2fr 60px 1fr 60px 1.2fr 60px;

  .top-left,
  .top-right {
    grid-row: span 2;
  }
  .center-left,
  .center-right {
    grid-row: span 3;
  }
  .bottom-bottom {
    grid-column: span 3;
  }

  .top-left,
  .top-top,
  .top-right,
  .center-bottom {
    background-color: #00a1c8;
  }

  .center-top,
  .bottom-left,
  .bottom-right,
  .bottom-bottom {
    background-color: #d13022;
  }
  .center-left,
  .center-right {
    background-color: #583734;
  }

  .top-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    font-weight: 500;
  }

  .center-center {
    padding: 20px;
    h1 {
      font-weight: bold;
      font-size: 92px;
    }
  }

  .bottom-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-weight: 500;

    .bottom-top__bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
